*{
    padding: 0;
    margin: 0;
}
body{
   
    background-image: url(./images/bg\ 11.jpg);
    background-repeat: none;
    background-size: cover;
}
input{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    margin-left:30px ;
    border-radius: 5px;
    padding: 4px;
    margin-top:30px;
    width: 80%;
    border-radius: 30px;
}
.active{
    border-radius: 20px;
    border: solid black ;
    position: absolute;
    background-color: lightblue;
    margin-top: 10%;
   
}
form {
    display: flex;
    justify-content: center;
}
.passport{
    color: aqua;
    font-style: normal;
    font-display: inherit;
    position: relative;
    padding: 4px;

}
#button{
    color: black;
    background-color: whitesmoke;
    cursor: pointer;
    width: 80%;
}
#button:hover{
    color: black;
    background-color: blue;
}
p{
    margin-left: 5px;
    text-align: center;
    color: black;
}
 /* ul{
    margin-left: 5%;
    margin-top: 1%;
} */
li{
    list-style: none;
    display:inline;
}
/* a{
    color:black;
}  */

.login{
    width: 350px; 
    height: 300px;
    margin-top: 15%;
    justify-content: center;
}
.e-login{
    height: 10%;
    width: 80%;

}
#list{
    font-size: larger;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 18%;
    height: 40%; ;
    background-color: whitesmoke;
    color: solid black;
    cursor: pointer;
    
}
#list:hover{
    background-color: blue;
    color: black;
}
img{
    width: 10%;
    margin-top: 5%;
    height: 10%;
    padding-left: 20%;
    margin-left: 0%;
    margin-right: 50px;
}
.about{
    font-weight: 100;
    font-size: medium;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.homepage{
    /* margin: 40px 0 0 40px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; */
    width: 50%;
    text-align:center;
    
}
.homepage h3{
    margin-top: 6rem;
    margin-left: 4rem;
}
.homepage p{
    margin-top:20px ;
    margin-left: 2rem;
}
span{
    font-size: medium;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0%;
    margin-left: 20px;
    display:inline;
}
/* .header{
    top: 0;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding: 20px 20px ;
    align-items: center;
    z-index: 100;
    margin-left: 80%;
    
} */
.nav-bar{
    margin-right: 2rem;
    font-size: larger;
    padding:10px ;
    float: right;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 4s;
}
.nav-bar a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
}
.nav-bar a:hover{
    background-color: white;
}